<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
 <table *ngIf="dataLoaded==true" class="table">
<thead>
    <tr>
        <!-- <th>Id</th>
        <th>Marka</th>
        <th>Renk</th>
        <th>Araba adı</th>
        <th>Model yılı</th>
        <th>Fiyat</th>
        <th>Açıklama</th> -->
        <th>Araba</th>
        <th>Marka</th>
        <th>Renk</th>
        <th>Fiyat</th>
        <th>Model Yılı</th>
    </tr>
</thead>
    <tr *ngFor="let cardto of cardtos">
        <td>{{cardto.carName}}</td>
        <td>{{cardto.brandName}}</td>
        <td>{{cardto.colorName}}</td>
        <td>{{cardto.dailyPrice}}</td>
        <td>{{cardto.modelYear}}</td>
       <!-- <td>{{car.id}}</td>
       <td>{{car.brandId}}</td>
       <td>{{car.colorId}}</td>
       <td>{{car.carName}}</td>
       <td>{{car.modelYear}}</td>
       <td>{{car.dailyPrice}}</td>
       <td>{{car.description}}</td> -->
    </tr>
</table>